<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/content.css">
    <link rel="stylesheet" href="/styles/blogList.css">
    <link
        href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
        rel="stylesheet"
    />
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Contact">Contact</a></li>
        </ul>
    </nav>

    <% if (locals.newBlog) { %>
        <%- include(`./partials/${newBlog.replaceAll(' ', '_')}.ejs`) %>
    <% } else { %>
        <%- include('./homePage.ejs') %>
    <% } %>
    
    <%- include('./blogList.ejs') %>

    <script type="text/javascript" src="/js/features.js"></script>
</body>
</html>