<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/newBlog.css">
    <title>Document</title>
</head>
<body>
    <form class="container" method="POST" action="/">
        <input type="text" name="title" id="textfield" placeholder="Your Title"/>
        <textarea name="content" id="textarea" rows="10" placeholder="Enter Content"></textarea>
        <input type="submit" name="button" id="button" value="Send" />
    </form>
</body>
</html>