.blog-list {
    background-color: #FFF8F3;
    
    border-left: 1px dotted black;
    padding-left: 1rem;
}

.blog-list h2 {
    margin: 1rem 0 0.5rem 0;
    font-weight: 500;
}

.features ul {
    list-style: none;
}

.features ul li {
    margin-left: 1rem;
}

.features ul li a{
    text-decoration: none;
    font-weight: 300;
}

.recent-blogs .blog {
    background: transparent;
    margin-bottom: 0.5rem;

    margin-left: 1rem;
}

.recent-blogs .blog:hover {
    cursor: pointer;
    background-color: yellow;
}

